{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="hero has-background-info is-fullheight" style="display: none">
    <div class="hero-body">
      <div class="container">
          <div class="columns is-centered">
            <div class="column is-8-tablet is-8-desktop is-8-widescreen">
              <span class="box">
                <!-- <h1>{% trans "Sign Up" %}</h1> -->

<!-- <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p> -->

                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="button is-medium has-background-info has-text-white is-rounded" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
              </span>
            </div>
          </div>
      </div>
    </div>
</section>

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {

    // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
    });
    $(window).on('load', function(){
      $('button.button.is-medium.has-background-info.has-text-white').css ({
        'margin-top': '10px'
      });
      $('.hero.is-fullheight').css ({
        'min-height': '94vh'
      });
      $('label.col-form-label.requiredField').addClass('label');
      $('label.col-form-label.requiredField').css ({
        margin: '5px'
      });
      $('input#id_email').attr('autocomplete', 'off');
      // $('input#id_username').attr('autocomplete', 'off');
      $('input#id_username').addClass('input');
      $('input#id_email').addClass('input');
      // $('input#id_password1').addClass('input');
      // $('input#id_password2').addClass('input');
      $('.input').css ({
        'max-width': '50%'
      });
      $('section').css({
        display: 'flex'
      });
      $('div.navbar-dropdown a.navbar-item').css({
        'margin-left': 'initial'
      });
      $('a.navbar-item.button.has-text-link, a.navbar-item.button.has-text-danger, a.navbar-item.button.has-text-primary, a.navbar-item.button.has-text-info').css({
        border: 'transparent'
      });
})
</script>
{% endblock %}